body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
          200.96deg,
          #fedc2a -29.09%,
          #dd5789 51.77%,
          #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 16px;
}

.heading {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.contentWrapper{
  height: 100%;
  width: 100%;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
  0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

.menu-wrapper button {
  width: 200px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.config-form label{
  display: block;
}

.input-wrapper {
  margin-bottom: 8px;
}

.input-wrapper input {
  border-radius: 4px;
  width: 300px;
  height: 24px;
}

.App {
  text-align: center;
}

.button-icon {
  margin-right: 8px;
}

.back-icon:hover {
  transform: scale(1.25);
}

.dataTable td, .dataTable th{
  border: solid black 2px;
  padding: 0.5rem;
  max-width: 300px;
  overflow: auto;
}

.dataTable {
  border-collapse: collapse;
}

.u-mt-medium {
  margin-top: 16px;
}

.u-mb-medium {
  margin-bottom: 16px;
}

.thin-btn{
  padding: .3em 1em
}