$tiny-spacer: 4px;
$small-spacer: 8px;
$medium-spacer: 16px;

body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
          200.96deg,
          #fedc2a -29.09%,
          #dd5789 51.77%,
          #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: $medium-spacer;
}

.heading {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

.contentWrapper{
  height: 100%;
  width: 100%;
}

button {
  background-color: white;
  padding: $small-spacer $medium-spacer;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
  0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

.menu-wrapper button {
  width: 200px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: $small-spacer;

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.config-form label{
  display: block;
}

.input-wrapper {
  margin-bottom: $small-spacer;

  input {
    border-radius: 4px;
    width: 300px;
    height: 24px;
  }
}

.button-icon {
  margin-right: $small-spacer;

  &:hover {
    transform: scale(1.25);
  }
}

.dataTable {
  border-collapse: collapse;

  td, th {
    border: solid black 2px;
    padding: $small-spacer;
    max-width: 300px;
    overflow: auto;
  }
}

.u-mt-medium {
  margin-top: $medium-spacer;
}

.u-mb-medium {
  margin-bottom: $medium-spacer;
}

.u-mr-medium {
  margin-right: $medium-spacer;
}
.u-t-center {
  text-align: center;
}

.thin-btn{
  padding: $tiny-spacer $small-spacer
}